.grid {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    gap: 10px;

    justify-content: center;

}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 120px);
    }
}